<!doctype html>
<html ng-app="myApp">
    <head>
        <title>Angular Spike</title>
    </head>

    <body>
        <div ng-controller="controllerCtrl">
            {{ greeting }}
        </div>
        <div ng-controller="doubleCtrl">
            <input ng-model="num"> {{ double(num) }}
        </div>
        <div ng-controller="spicyCtrl">
            <button ng-click="chiliSpicy()">Chili</button>
            <button ng-click="jalapenoSpicy()">jalapeno</button>
            <p>The food is {{ spice }} spicy !</p>
        </div>
        <div ng-controller="spicyCtrl2">
            <input ng-model="customSpice">
            <button ng-click="spicy('chili')">chili</button>
            <button ng-click="spicy(customSpice)">customSpice</button>
            <p>The spice is {{ spice }} spicy !</p>
        </div>
        <br>
        <div ng-controller="mainCtrl">
            <p>Good {{ timeOfDay }}, {{ name }}</p>
            <div ng-controller="childCtrl">
                <p>Good {{ timeOfDay }}, {{ name }}</p>
                <div ng-controller="grandChildCtrl">
                    <p>Good {{ timeOfDay }}, {{ name }}</p>
                </div>
            </div>
        </div>

        <div ng-controller="Cntl2">
            Expression:
            <input type="text" ng-model="expr" size="80">
            <button ng-click="addExp(expr)">Evaluate</button>
            <ul>
                <li ng-repeat="expr in exprs track by $index">
                    [ <a href="" ng-click="removeExp($index)">X</a> ]
                    <tt>{{expr}}</tt>=> <span ng-bind="$parent.$eval(expr)"></span>
                </li>
            </ul>
        </div>

        <div ng-controller="Cntl1">
            Name: <input ng-model="name" type="text">
            <button ng-click="greet()">Greet</button>
        </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="./js/controller.js"></script>
    </body>
</html>